div.rankingboard {
    
    background-image: url(../assets/ranks/bg_talk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: 5vw;
    right: 15vw;
    width: 30%;
    height: 25%;
    image-rendering: pixelated;
    
    
}


#rank1 {
    position: absolute;
    bottom: 22%;
    right: 45%;
    width: 9%;
    height: auto;
}

#rank2 {
    position: absolute;
    bottom: 22%;
    right: 25%;
    width: 9%;
    height: auto;
}

#rank3 {
    position: absolute;
    bottom: 22%;
    right: 65%;
    width: 9%;
    height: auto;
}
