
* {
  cursor: url(../assets/cursor/cursor.cur), auto;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
}


.playbtn {
  background-image: url('../assets/buttons/playbtn.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 8%;
  width: 12%;
  border-radius: 120px;
  border-color: white;
  opacity: 95%;
  transition-duration: 0.5s;
}

.playbtn:hover {
  background-image: url('../assets/buttons/playbtnhover.png');
  opacity: 100%;
}

.headul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;  
}
  
.headli {
  float: right;
}
  
.headli .heada {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #111;
	color: white;
}


.mySlides {
  display: none;
  width: 40%;
  height: auto;
  border-radius: 50px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}